<template>
  <q-layout view="lHh Lpr lFf">
    <LoginBar />
  </q-layout>
</template>

<script>
import LoginBar from "../components/Login/LoginBar";

/**
 *
 * Sistema Avalanche
 * @author João Miranda
 * Last Update 28/03/19
 *
 * The Login Page controls login and sign up for all the users, either admin or not.
 *
 * @emits
 * @prop
 *
 */

export default {
  name: "DashboardLayout",

  components: { LoginBar },

  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  }
};
</script>

<style lang="scss" scoped>
.q-layout {
  background-image: url("../assets/cub.jpg");
  background-size: cover;
  background-position: center;
}
</style>
