<template>
  <q-header elevated>
    <q-toolbar>
      <q-btn
        flat
        dense
        round
        @click="leftDrawerToggle"
        aria-label="Menu"
        icon="menu"
      />
      <q-toolbar-title>Avalanche</q-toolbar-title>
    </q-toolbar>
  </q-header>
</template>

<script>
/**
 *
 * Sistema Avalanche
 * @author João Miranda
 * Last Update 28/03/19
 *
 * Top Bar, present on the dashboard Layout,
 * holds the current page, access to the drawers and contact info.
 * Stays on top.
 *
 * @emits leftDrawerToggle
 * @prop
 *
 */

export default {
  methods: {
    leftDrawerToggle() {
      this.$emit("leftDrawerToggle");
    }
  }
};
</script>
