<template>
  <q-scroll-area style="height: calc(100% - 200px); margin-top: 200px; border-right: 1px solid #ddd">
    <q-list padding>
      <q-item
        clickable
        v-ripple
      >
        <q-item-section avatar>
          <q-icon name="inbox" />
        </q-item-section>

        <q-item-section>Inbox</q-item-section>
      </q-item>

      <q-item
        active
        clickable
        v-ripple
      >
        <q-item-section avatar>
          <q-icon name="star" />
        </q-item-section>

        <q-item-section>Star</q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
      >
        <q-item-section avatar>
          <q-icon name="send" />
        </q-item-section>

        <q-item-section>Send</q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
      >
        <q-item-section avatar>
          <q-icon name="drafts" />
        </q-item-section>

        <q-item-section>Drafts</q-item-section>
      </q-item>
    </q-list>
  </q-scroll-area>
</template>

<script>
export default {
  /**
   *
   * Sistema Avalanche
   * @author João Miranda
   * Last Update 28/03/19
   *
   * Action List, holds all the actions on the left bar,
   * changing the global state to reflect it on the main content area
   *
   * @emits
   * @prop
   *
   */
}
</script>
