<template>
  <q-img
    class="absolute-top"
    src="https://cdn.quasar-framework.org/img/material.png"
    style="height: 200px"
  >
    <div class="absolute-bottom bg-transparent">
      <q-avatar
        size="96px"
        class="q-mb-sm"
      >
        <img src="https://scontent.fbfh3-2.fna.fbcdn.net/v/t1.0-9/53688838_1959975057444928_830772066616606720_n.png?_nc_cat=102&_nc_ht=scontent.fbfh3-2.fna&oh=2d7f70c70b05c29a01f5517f4a8f128b&oe=5D0C2D68" />
      </q-avatar>
      <div class="text-weight-bold">Lediane de Oliveira</div>
      <div>@ledianeoliveira</div>
    </div>
  </q-img>
</template>

<script>
export default {
  /**
   *
   * Sistema Avalanche
   * @author João Miranda
   * Last Update 28/03/19
   *
   * Profile Display, box on top of left drawer,
   * with profile badge and basic data
   *
   * @emits
   * @prop
   *
   */
}
</script>
