<template>
  <q-drawer
    v-model="leftDrawerOpen"
    bordered
  >
    <ProfileDisplay />
    <ActionList />
  </q-drawer>
</template>

<script>
import ProfileDisplay from './ProfileDisplay'
import ActionList from './ActionList.vue'

/**
 *
 * Sistema Avalanche
 * @author João Miranda
 * Last Update 28/03/19
 *
 * Side Bar, contains the Profile Display and the Action list,
 * hides when the store commands
 *
 * @emits
 * @prop
 *
 */

export default { components: { ProfileDisplay, ActionList } }
</script>
