<template>
  <q-input
    :value="value"
    @input="$emit('input', $event)"
    outlined
    :label="label"
    :type="isPwd ? 'password' : 'text'"
  >
    <template v-slot:append>
      <q-icon
        :name="isPwd ? 'visibility_off' : 'visibility'"
        class="cursor-pointer"
        @click="isPwd = !isPwd"
      />
    </template>
  </q-input>
</template>

<script>
export default {
  props: ["label", "value"],
  data() {
    return { isPwd: true };
  }
};
</script>
