<template>
  <div>
    <q-tabs
      v-model="tab"
      class="text-primary"
    >
      <q-tab
        name="alunos"
        label="alunos"
      />
      <q-tab
        name="diretoria"
        label="Diretoria"
      />
    </q-tabs>
    <q-input
      outlined
      :value="cpf"
      mask="###.###.###-##"
      label="CPF"
    />
    <q-slide-transition>
      <PasswordInput
        v-if="tab == 'diretoria'"
        label="Senha"
      />
    </q-slide-transition>
    <q-slide-transition>
      <div v-if="tab == 'atleta'">
        <PasswordInput
          label="Nova Senha"
          v-model="psswd"
        />
        <PasswordInput
          label="Repita a Nova Senha"
          v-model="psswd"
        />
      </div>
    </q-slide-transition>
  </div>
</template>

<script>
import PasswordInput from '../Common/PasswordInput'

export default {
  components: {
    PasswordInput
  },
  data() {
    return {
      tab: 'alunos',
      cpf: '',
      psswd: '',
      isPwd: true
    }
  }
}
</script>

<style lang="scss" scoped>
.q-tabs {
  margin-bottom: 10px;
  width: 274px;
}
.q-input {
  margin-bottom: 10px;
}
</style>
