<template>
  <div class="container">
    <q-avatar class="q-mb-md">
      <img src="https://scontent.fbfh3-2.fna.fbcdn.net/v/t1.0-9/53688838_1959975057444928_830772066616606720_n.png?_nc_cat=102&_nc_ht=scontent.fbfh3-2.fna&oh=2d7f70c70b05c29a01f5517f4a8f128b&oe=5D0C2D68" />
    </q-avatar>
    <LoginForm />
    <q-btn
      color="primary"
      label="proximo"
    />
  </div>
</template>

<script>
import LoginForm from './LoginForm'

export default {
  components: {
    LoginForm
  }
}
</script>

<style lang="scss" scoped>
.container {
  width: 30vw;
  min-width: 330px;
  height: 100vh;
  z-index: 10;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .q-avatar {
    margin: 20px 10vw;
    font-size: 10vw;
  }

  .LoginForm {
    width: 274px;
  }
  .q-btn {
    width: 274px;
  }
}

@media (hover: none) {
  .container {
    width: 100vw;
    .q-avatar {
      margin: 20px 30vw;
      font-size: 40vw;
    }
  }
}
</style>
