<template>
  <dashboard-layout></dashboard-layout>
</template>

<script>
import DashboardLayout from "./pages/LoginPage.vue";

export default {
  name: "LayoutDefault",

  components: {
    DashboardLayout
  },

  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  }
};
</script>

<style></style>
