<template>
  <q-layout view="lHh Lpr lFf">
    <TopBar />
    <SideBar />
    <q-page-container>
      <HelloWorld />
    </q-page-container>
  </q-layout>
</template>

<script>
import HelloWorld from "../components/HelloWorld.vue";
import SideBar from "../components/SideBar/SideBar";
import TopBar from "../components/TopBar";

/**
 *
 * Sistema Avalanche
 * @author João Miranda
 * Last Update 28/03/19
 *
 * DashboardLayout, presents a layout with a top bar and a side bar
 * presents the info on a central area. Toggles side bar.
 *
 * @emits
 * @prop
 *
 */

export default {
  name: "DashboardLayout",

  components: {
    TopBar,
    SideBar,
    HelloWorld
  },

  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    };
  }
};
</script>

<style></style>
